/* Estilo general de la sección de contacto */

/* Contenedor principal */
.contactContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 5;
  gap: 2rem;
  padding: 4rem 2rem;
  text-align: center;
  background-color: #000;
}

/* Texto principal de la sección */
.contactText {
  margin-bottom: 20px;
}

/* Título principal "Contacto" */
.contactHeader {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
}

/* Subtítulo con la pregunta */
.contactSubheader {
  font-size: 20px;
  color: #f9f9f9;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Estilo para el botón */
.contactBtn {
  padding: 12px 25px;
  background-color: rgba(0, 188, 212, 0.7);
  color: #f9f9f9;
  font-size: 18px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Efecto hover para el botón */
.contactBtn:hover {
  background-color: #00bcd4;
  color: #000;
}

/* Estilos responsivos para pantallas pequeñas */

/* Pantallas medianas (tablet) */
@media (max-width: 768px) {
  .contactHeader {
    font-size: 30px;
  }

  .contactSubheader {
    font-size: 18px;
  }

  .contactBtn {
    font-size: 16px;
  }
}

/* Pantallas pequeñas (móviles) */
@media (max-width: 480px) {
  .contactHeader {
    font-size: 24px;
  }

  .contactSubheader {
    font-size: 16px;
  }

  .contactBtn {
    font-size: 14px;
  }
}

/* Contenedor del formulario */
.contactFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* Estilo del formulario */
.contactForm {
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Título principal "Contacto" */
.contactFormHeader {
  font-size: 36px;
  font-weight: bold;
  color: #000;
  margin-bottom: 10px;
}

/* Subtítulo con la pregunta */
.contactFormSubheader {
  font-size: 20px;
  color: #333;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Estilo de los grupos de campos */
.formGroup {
  margin-bottom: 1.5rem;
}

.formGroup label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #333;
}

.formGroup input,
.formGroup textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  color: #333;
}

.formGroup input:focus,
.formGroup textarea:focus {
  border-color: #00bcd4;
  outline: none;
}

/* Botón de envío */
.formButton {
  width: 100%;
  padding: 0.75rem;
  background-color: #1d6bba;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formButton:hover {
  background-color: #aacbed;
  color: #1d6bba;
}
